*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  color: white;
}

img {
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
  
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-width: 320px;
  background-color: #191919;
  font-family: 'DM Sans';
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
::selection {
    background: #90b9f4; 
    color: #fff; 
  }
  
  :root {
  scroll-behavior: smooth;
  }
  
  .wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  .container {
    max-width: 1330px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .nav-body {
    display: flex;
    min-height: 119px;
    align-items: center;
    justify-content: space-between;
  }